html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    grid-row: 1/2;
    background-color: aliceblue;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar h1{
    font-size: 28px;
	flex: 1 1 0%;
    align-self: center;
    margin-top: 35px;
}

#add-book{
	width: 70%;
    margin: auto;
    flex: 5 1 0;
}

form  *{
    display: block;
    
}

form input{
	width: 100%;
    padding-bottom: 15p;
    margin-bottom: 15px;
}

.checkbox *{
	width: auto;
    display: inline-block;
}

.library-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
	grid-template-rows: repeat(auto-fill, 200px);
}

#new-book{
	width: 50%;
    margin: 30px auto;
}

.book-card{
	box-sizing: border-box;
    width: 280px;
    height: 170px;
    background: aliceblue;
    margin: auto;
    box-shadow: 3px 4px 4px 1px grey;
    border-radius: 15px;
    display: grid;
    padding: 10px 10px;
}

.book-card button {
	width: 50%;
    margin: auto;
    height: 90%;
}